.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 20px;
    width: 300px;
    background-image: url('https://images.unsplash.com/photo-1557683316-973673baf926');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    back
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #eee;
  }
  
  input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #333;
  }
  
  button {
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    color: #fff;
  }
  
  input::placeholder {
    color: #999;
  }
  
  .delete {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px 8px;
  }
  
  .delete:hover {
    background-color: #b52a37;
  }
  